:root {
    --color-dark-blue: #0d2167;
    --color-light-blue: #eff6ff;
    --color-dark-grey: #e5e7eb;
    --color-light-grey: #f7f7fa;
}

html {
    background: #eff6ff;
}

* {
    font-family: 'Poppins', sans-serif;
}

