
.icon-cancel:before { content: '\e800'; } /* '' */
.icon-link:before { content: '\e801'; } /* '' */
.icon-plus:before { content: '\e802'; } /* '' */
.icon-angle-down:before { content: '\f107'; } /* '' */
